<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About page</title>
  </head>
  <body>
    <h1>About page</h1>

    <p>
      This is about information
    </p>

    <!-- Check if name object is available -->
    <% if(typeof name != "undefined") { %>
      <p>Name <%= name %></p>
    <% } %>

  </body>
</html>
